node_modules
/packages/protobuf-test/descriptorset.bin
/packages/protoc-gen-connect*/bin/protoc-gen-connect*
/packages/protoc-gen-es*/bin/protoc-gen-es*
/packages/*/dist
/testdata/gen/**/*.js
/testdata/gen/**/*.ts
/testdata/gen/**/**.d.ts
/.cache
