body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

h1 {
  margin: 15px 0;
  font-size: 3.5rem;
}

input {
  font-size: 16px;
  border: 1px solid rgb(235, 235, 235);
  padding: 6px;
}
input:focus {
  border-color: rgb(22, 30, 222);
  background-color: rgb(248, 248, 255);
}
input:focus-visible {
  outline: none;
}

#root {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  border: 0 solid #e5e5e5;
}

@media screen and (min-width: 600px) {
  #root {
    width: calc(min(100vw, 520px));
    border-left-width: 1px;
    border-right-width: 1px;
  }
}
