name: ci
on: push
permissions: read-all
jobs:
  ci:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: bufbuild/buf-setup-action@v1.17.0
        with:
          github_token: ${{ github.token }}
      - name: cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.tmp
            .tmp
          key: ${{ runner.os }}-connect-web-ci-${{ hashFiles('Makefile') }}
          restore-keys: |
            ${{ runner.os }}-connect-web-ci-
#      - name: make
#        run: make format build lint test bench checkdiff
      - name: make
        run: make testconnectnodepackage
#      - name: browserstack
#        env:
#          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
#          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
#        run: make testwebbrowserstack

